.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

table {
    margin: 0 auto;
    border-collapse: collapse; 
    border: 1px solid grey; 
}

caption{
    margin-bottom: 15px;
    background-color: #008f86;
    padding: 10px;
    color: white;
    font-size: large;
}

th {
    border: 1px solid grey;
    padding: 5px;
    text-align: left;
    background-color: rgb(204, 204, 204);
}

td {
    border: 1px solid grey;
    padding: 5px;
}

td:hover {
    background-color: rgb(204, 204, 204);
}